<div class="login-container">
    <img class="film" src="assets/image/film.png" alt=""/>
    <div class="logo"> Rotten Potatoes 
        <div class="desc"> Rotten Potatoes is the premier movie recommendation app, known for its 
            innovative approach to helping users discover films they'll love.
             By aggregating reviews from critics and audiences alike, it offers comprehensive ratings 
             and personalized suggestions tailored to individual tastes. Whether you're into blockbuster hits 
             or indie gems, Rotten Potatoes ensures you find your next favorite flick with ease and confidence.

        </div>
        <div class="login-form">
            <div class="form-group">
                <label for="uname">Username</label>
                <input type="text" name="uname" class="form-control" />
             </div>
            <div class="form-group">
                <label for="pword">Password</label>
                <input type="password" name="pword" class="form-control" />
            </div>
            <div class="btn-container">
                <button class='btn btn-dark'>Login</button>
            </div>
        </div>
    </div>
</div>



